# PHP CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-php/ for more details
#
version: 2

jobs:
  "php-8.1":
    docker:
      - image: aimeos/ci-php:8.1
    steps:
      - checkout
      - run: git clone --depth=50 --branch=2025.10 https://github.com/aimeos/aimeos-core ../aimeos-core
      - run: cd .. && mv project aimeos-core/ext/ai-twig && mv aimeos-core project && cd project
      - restore_cache:
          keys:
            - php81-{{ checksum "composer.json" }}
      - run: composer req --no-update twig/twig:~3.5
      - run: composer update -n --prefer-dist
      - save_cache:
          key: php81-{{ checksum "composer.json" }}
          paths: [./vendor]
      - run: ./vendor/bin/phing -Ddir=ext/ai-twig testext

  "php-8.2":
    docker:
      - image: aimeos/ci-php:8.2
    steps:
      - checkout
      - run: git clone --depth=50 --branch=2025.10 https://github.com/aimeos/aimeos-core ../aimeos-core
      - run: cd .. && mv project aimeos-core/ext/ai-twig && mv aimeos-core project && cd project
      - restore_cache:
          keys:
            - php82-{{ checksum "composer.json" }}
      - run: composer req --no-update twig/twig:~3.5
      - run: composer update -n --prefer-dist
      - save_cache:
          key: php82-{{ checksum "composer.json" }}
          paths: [./vendor]
      - run: ./vendor/bin/phing -Ddir=ext/ai-twig testext

  "php-8.3":
    docker:
      - image: aimeos/ci-php:8.3
    steps:
      - checkout
      - run: git clone --depth=50 --branch=2025.10 https://github.com/aimeos/aimeos-core ../aimeos-core
      - run: cd .. && mv project aimeos-core/ext/ai-twig && mv aimeos-core project && cd project
      - restore_cache:
          keys:
            - php83-{{ checksum "composer.json" }}
      - run: composer req --no-update twig/twig:~3.5
      - run: composer update -n --prefer-dist
      - save_cache:
          key: php83-{{ checksum "composer.json" }}
          paths: [./vendor]
      - run: ./vendor/bin/phing -Ddir=ext/ai-twig testext

workflows:
  version: 2
  unittest:
    jobs:
      - "php-8.1"
      - "php-8.2"
      - "php-8.3"
